<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
	<servlet>
		<servlet-name>new-sup-stock</servlet-name>
		<servlet-class>com.controller.NewStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>new-sup-stock</servlet-name>
		<url-pattern>/functions/inventory-management/newly-added-stock</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>request-new-stock</servlet-name>
		<servlet-class>com.controller.NewStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request-new-stock</servlet-name>
		<url-pattern>/functions/inventory-management/item-request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>insert-new-stock</servlet-name>
		<servlet-class>com.controller.NewStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insert-new-stock</servlet-name>
		<url-pattern>/functions/inventory-management/insert</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>display-inventory-table</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>display-inventory-table</servlet-name>
		<url-pattern>/functions/inventory-management/inventory-dashboard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>request-for-update-inventory-record</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request-for-update-inventory-record</servlet-name>
		<url-pattern>/functions/inventory-management/update-request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>update-inventory-record</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update-inventory-record</servlet-name>
		<url-pattern>/functions/inventory-management/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>request-for-delete-inventory-record</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request-for-delete-inventory-record</servlet-name>
		<url-pattern>/functions/inventory-management/delete-request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>temporarily-delete-inventory-record</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>temporarily-delete-inventory-record</servlet-name>
		<url-pattern>/functions/inventory-management/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bin-record</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bin-record</servlet-name>
		<url-pattern>/functions/inventory-management/bin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>request-bin-id</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request-bin-id</servlet-name>
		<url-pattern>/functions/inventory-management/permanent-delete-request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delete-bin-record</servlet-name>
		<servlet-class>com.controller.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete-bin-record</servlet-name>
		<url-pattern>/functions/inventory-management/confirm-delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>request-report</servlet-name>
		<servlet-class>com.controller.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request-report</servlet-name>
		<url-pattern>/functions/inventory-management/report</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>stock-view</servlet-name>
		<servlet-class>com.controller.HomeView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stock-view</servlet-name>
		<url-pattern>/functions/common/stock-view</url-pattern>
	</servlet-mapping>
	

</web-app>